@import "./../font/iconfont.scss";
// 主题色
$color-error: #d63a29;
$color-success: #48c9a9;
$color-primary: #4a89dc;
$color-warning: #E6A23C;
$color-error: #d63a29;
$color-grey: #30363e;
$color-dark: #001529;
$color-fff: #fff;
$color-light-blue: #66b1ff;
$input-focus-color: #40a9ff;
$element-color-primary: #1890ff;
.hp-adminsystem {
    &_header {
        height: 60px;
        line-height: 60px;
        border-color: transparent;
        &_left {
            display: inline-block;
            height: 100%;
            width: 230px;
            margin-right: 10px;
            transition: all ease .3s;
            &.collapsed {
                > a {
                    display: none;
                }
                width: 45px;
            }
            > a {
                height: 60px;
                line-height: 58px;
                padding: 0;
                font-size: 17px;
                font-weight: 400;
                letter-spacing: .6px;
                padding-left: 15px;
                display: inline-block;
                overflow: hidden;
                width: 170px;
                text-decoration: none;
                color: inherit;
                .logo {
                    top: -10px;
                    position: relative;
                    img {
                        width: 48px;
                        height: 48px;
                        display: inline-block;
                        position: relative;
                        top: 12px;
                    }
                }
            }
            .toggle_navmenu {
                display: inline-block;
                font-size: 24px;
                text-align: center;
                float: right;
                width: 45px;
            }
        }
        &.bg-primary {
            color: #fff;
            background: #4a89dc;
            .hp-adminsystem_header_left {
                background:#357bd8;
            }
        }
        &.bg-system {
            color: #fff;
            background: #48c9a9;
            .hp-adminsystem_header_left {
                background: #38bf9e;
            }
        }
        &.bg-grey {
            color: #fff;
            background: #30363e;
            .hp-adminsystem_header_left {
                background:#252930;
            }
        }
        &.bg-dark {
            color: #fff;
            background: #001529;
            .hp-adminsystem_header_left {
                background:#000810;
            }
        }
        &_right {
            float: right;
            width: calc(100% - 240px);
            transition: all ease .3s;;
            height: 60px;
            &_full {
                width: calc(100% - 60px);
            }
            .hp-adminsystem_header_flag {
                font-size: 20px;
                width: 42px;
                float: left;
                height: 32px;
                text-align: center;
                line-height: 33px;
                color: #fff;
                line-height: 60px;
            }
            .hp-adminsystem_header_right_navbar{
                float: right;
                padding: 0;
                margin: 0;
                margin-right: 20px;
                list-style: none;
                > li {
                    display: inline-block;
                }
            }
        }
    }
    .hp-topbar{
        padding: 0 20px;
        .back-btn{
            text-decoration: none;
            color: #666;
            transition: all ease .3s;
            margin-right: 10px;
            &:hover {
                color: $color-primary;
            }
        }
        .out-btn{
            text-decoration: none;
            color: $color-primary;
            font-size: 12px;
        }
    }
    .hp-container {
        width: calc(100% - 230px);
        float: right;
        height: calc(100% - 60px);
        position: absolute;
        left: 230px;
        overflow: hidden;
        background: #e5e5e5;
        transition:  all ease .3s;
        &.full {
            left: 45px;
            width: calc(100% - 45px);
        }
        .hp-topbar{
            background: #fff;
            height: 48px;
            line-height: 48px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        &-content{
            overflow: auto;
            width: 100%;
            height: calc(100% - 48px);
            &::-webkit-scrollbar {
                width: 6px;
                height: 1px;
            }
            &::-webkit-scrollbar-thumb {
                background: #bbb;
            }
        }
    }
}
.hp-searchbar {
    height: 32px;
    width: 32px;
    border-radius: 0;
    border: none;
    display: inline-block;
    margin-top: 13px;
    margin-left: 10px;
    // transition: width ease .3s;
    > .iconfont.icon-search {
        font-size: 20px;
        width: 42px;
        float: left;
        height: 32px;
        text-align: center;
        line-height: 33px;
        color: #fff;
    }
    > .hp-textbox{
        display: none;
        list-style: none;
        position: relative;
        float: right;
        width: calc(100% - 46px);
        font-size: 14px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.65);
        background-color: #fff;
        background-image: none;
        -webkit-transition: all .3s;
        transition: all .3s;
        border: none;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        height: 32px;
        padding: 0;
        &:focus {
            outline: 0;
            border: none;
            box-shadow: none;
        }
    }
    &.active {
        > .hp-textbox {
            display: inherit;
        }
    }
    &.primary {
        background: $color-primary;
        &.active {
            background: #fff;
            > .iconfont.icon-search,  > .hp-textbox {
                color: $color-primary;
            }
        }
    }
    &.system {
        background: $color-success;
        &.active {
            > .iconfont.icon-search,  > .hp-textbox {
                color: $color-success;
            }
        }
    }
    &.grey {
        background: $color-grey;
        &.active {
            > .iconfont.icon-search,  > .hp-textbox {
                color: $color-grey;
            }
        }
    }
    &.dark {
        background: $color-dark;
        &.active {
            > .iconfont.icon-search,  > .hp-textbox {
                color: $color-dark;
            }
        }
    }
    &.active {
        background: #fff;        
        width: 400px;
        border-radius: 16px;
    }
}

.primary{
    color: $color-primary;
}
.success{
    color: $color-success;
}
.warning{
    color: $color-warning;
}
.error{
    color: $color-error;
}