.hp-navmenu {
    &::-webkit-scrollbar {
        width: 8px;
        height: 1px;
    }
    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        background: #bbb;
    }
    &::-webkit-scrollbar-track {/*滚动条里面轨道*/
        background: #ddd;
    }
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all ease .3s;
    &.active {
        width: 230px;
        height: calc(100% - 60px);
        float: left;
        position: absolute;
        z-index: 999;
        overflow-x: hidden;
        overflow-y: auto;
        top: 60px;
        left: 0;
    }
    .hp-menuitem {
        // padding-left: 24px;
        // padding-right: 10px;
        height: 48px;
        user-select: none;
        transform: height ease .3s;
        a {
            text-decoration: none;
            &.active {
                border-left: 4px solid #2196f3;
                background: #000;
            }
        }
        .hp-menuitem_title {
            padding-left: 24px;
            padding-right: 10px;
            text-decoration: none;
            line-height: 48px;
            color: #eee;
            display: block;
            font-weight: lighter;
            cursor: pointer;
            opacity: .8;
            transition: opacity ease .3s;
            .iconfont {
                padding-right: 10px;
                transition: all ease-in .5s;
                float: left;
                transform-origin: 30%;
            }
            .menu-arrow {
                float: right;
                font-size: 12px;
                top: 2px;
                position: relative;
                transition: all ease .3s;
                transform-origin: 30%;
                &.up{
                    transform: rotate(180deg);
                }
            }
            &:hover{
                color: #fff;
                opacity: 1;
                .iconfont:not(.menu-arrow){
                    transform: rotate(360deg);
                }
            }
        }
        .hp-menu-sub {
            display: none;
            list-style: none;
            padding: 0;
            > li {
                padding-left: 16px;
            }
        }
        &.active {
            height: auto;
            >div > .hp-menuitem_title {
                box-shadow: 0 8px 10px rgba(0,0,0,.3);
                &:hover {
                    opacity: .8;
                }
            }
            .hp-menu-sub {
                display: block;
                background: #282d33;
            }
        }
    }
    &.collapsed{
        width: 45px;
        .hp-menuitem_title{
            padding: 0;
            width: 45px;
            height: 45px;
            overflow: hidden;
            .iconfont{
                transform-origin: 50%;
                padding: 0;
                width: 45px;
                text-align: center;
            }
        }
        .hp-menu-sub{
            display: none!important;
        }
    }
    &.primary {
        background: #30363e;
        .hp_item_selected{
            border-left: 4px solid #4a89dc;
            background: #000;
        }
    }
    &.system {
        background: #30363e;
        .hp_item_selected{
            border-left: 4px solid #48c9a9;
            background: #000;
        }
    }
    &.grey {
        background: #30363e;
        .hp_item_selected{
            border-left: 4px solid #fff;
            background: #000;
        }
    }
    &.dark {
        background: #30363e;
        .hp_item_selected{
            border-left: 4px solid #fff;
            background: #000;
        }
    }
}