.hp-panel {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    &_title {
        line-height: 36px;
        padding: 0 10px;
        background: #fafafa;
        font-weight: 500;
        border-bottom: 1px solid #e5e5e5;
        .hp-panel_toolbar {
            float: right;
            padding: 0;
            display: inline-block;
            margin: 0;
            > li {
                display: inline-block;
                margin: 0 6px;
                font-size: 12px;
                color: #999;
                &:hover{
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }
    &_content {
        background: #fff;
    }
}