@import "adminSystem/adminSystem.scss";
.hp-logindemo {
    padding: 20px;
    .login-container {
        box-shadow: 0 0 10px rgba(133, 64, 201,.1);
        margin-bottom: 40px;

        .pb-40 {
            padding-bottom: 40px;
        }
        .login-title {
            text-align: center;
            font-family:CircularStd-Black;
            span {
                font-size: 20px;
                color: #000;
                font-weight: 600;
                display: inline-block;
                border-bottom: 3px solid #EB78B9;
            }
        }
        .hp-form {
            text-align: center;
            padding: 0 70px;
            .hp-textbox {
                margin-top: 30px;
                width: 100%;
                border: none;
                border-bottom: 1px solid #ddd;
                border-radius: 0;
                padding-left: 0;
                &:hover {
                    font-size: 18px;
                }
            }
            .hp-button {
                width: 100%;
                margin-top: 40px;
                color: #fff;
                line-height: 40px;
                height: 40px;
                border-radius: 40px;
                border: none;
                background: linear-gradient(to right, #8540C9, #EE63BA);
                background: -webkit-gradient(left, #8540C9, #EE63BA);
                background: -moz-linear-gradient(right, #8540C9, #EE63BA);
                background: -o-linear-gradient(right, #8540C9, #EE63BA);
                transition: all ease .3s;
                font-weight: 600;
                &.sign-button {
                    margin-top: 20px;
                    background: #fff;
                    color: #000;
                    border: 1px solid #F7F7F7;
                    box-shadow: none;
                }
                &:not(.sign-button):hover {
                    box-shadow: 0 5px 10px rgba(238, 99, 186, .2);
                }
            }
        }
        > p {
            margin: 0 80px;
            display: flex;
            > span.tip {
                display: inline-block;
                width: calc(100% - 30px);
                span {
                    display: inline-block;
                    transform: scale(0.8);
                    transform-origin: top left;
                    width: 130%;
                    font-weight: 500;
                    color: #000;
                }
            }
        }
        .sign-tip {
            text-align: center;
            position: relative;
            top: 30px;
            > a {
                text-decoration: none;
                color: $element-color-primary;
            }
        }
    }
}